<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Ranchers&display=swap" rel="stylesheet">
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://kit.fontawesome.com/23968cac4a.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="/static/CSS/owl.carousel.css" rel="stylesheet">
		<link href="/static/CSS/owl.theme.css" rel="stylesheet">
		<link href="/static/CSS/owl.transitions.css" rel="stylesheet">
    <title>Whineless Wine</title>
  </head>

	<body data-spy="scroll" data-target=".main-nav">
		<header class="st-navbar">
			<nav class="navbar navbar-default" role="navigation">
				<div class="d-flex">
            <h3><a href="#home">Home</a></h3> &nbsp;&nbsp;&nbsp;&nbsp;
            <h3><a href="#about">About</a></h3> &nbsp;&nbsp;&nbsp;&nbsp;
            <h3><a href="#user-entry-form">Take The Quiz!</a></h3> &nbsp;&nbsp;&nbsp;&nbsp;
            <h3><a href="#winePrediction">Wine Selection</a></h3> &nbsp;&nbsp;&nbsp;&nbsp;
				</div>
			</nav>
		</header>

		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<p class="hero-work">Red - White - Rose</p>
								<h2 class="hero-title">Ready for a Wine you won't whine about?</h2>
								<!-- <p class="hero-sub-title">We Provide Hight Quality Bootstrap Template</p> -->
								<!-- <a href="#" class="btn btn-default btn-lg left-btn">Purchase Now</a> -->
								<a href="#about" class="btn btn-main btn-lg">Find Out More</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>

		<section class="about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>It's Wine O'clock Somewhere</h3>
							<p>& we have the perfect bottle for you!</p>
						</div>
						<div class="row mb90">
							<div class="col-md-6">
								<p>With so many wines in this world how are you to know what to start drinking? At the end of the day how can you be asked to make such a difficult decision? Shouldn't someone just hand you the glass already? Humans of all types from all walks of earth have kindly provided their taste preferences to science! Utelizing machine learning alogrithms we can match your flavor palette to the ideal wine. Remeber drink locally and responsibly.</p>
                <a href="#user-entry-form" class="btn btn-main btn-lg">Take The Quiz!</a>
              </div>
							<div class="col-md-6">
								<img src="/static/images/option1.jpeg " alt="" class="img-responsive">
							</div>
						</div>
          </div>
        </div>
      </div>
    </section>

    <section class="user-entry-form" id="user-entry-form" data-stellar-background-ratio="0.4">
      <div id="form-container" class="justify-content-center">
        <h2 class="text-center">Choose your responses below to find out if Red, White, or Rose is the wine for you!</h2>
          
        <form class="form-inline justify-content-center" id="form-inline">
          <div class="input-group-lg mb-3"> 
            <label for="ageInput" id="questionlabel">Age</label>
            <input type="text" class="form-control input-lg" id="ageInput" placeholder="Enter Age">
          </div>

          <div class="input-group-lg mb-3">
              <label for="genderSelect" id="questionlabel"> Gender</label>
              <select class="custom-select input-lg" id="genderSelect" placeholder="Choose your Gender">
                <option selected>Choose your Gender</option>
                <option value="1">Female</option>
                <option value="2">Male</option>
                <option value="3">Non-Binary</option>
                <option value="4">Other/Prefer not to say</option>
              </select>
          </div>

          <div class="input-group-lg mb-3">
              <label for="ethnicitySelect" id="questionlabel">Ethnicity</label>
              <select class="custom-select input-lg" id="ethnicitySelect" placeholder="Choose your Ethnicity">
                <option selected>Choose your Ethnicity</option>
                <option value="1">White/Caucasian</option>
                <option value="2">Latino or Hispanic</option>
                <option value="3">Black or African-American</option>
                <option value="6">Asian</option>
                <option value="5">Two or More</option>
                <option value="4">Other/Unknown</option>
              </select>
            </div>
              
            <div class="input-group-lg mb-3">
                <label for="selectLocation" id="questionlabel">Home Location</label>
                <select class="custom-select input-lg" id="selectLocation" placeholder="Choose your Home Location">
                  <option selected>Choose your Home Location</option>
                  <option value="1">United States of America</option>
                  <option value="3">North America/Central America (excluding USA)</option>
                  <option value="2">Europe</option>
                  <option value="5">Australia/New Zealand</option>
                  <option value="6">Asia</option>
                  <option value="4">Other/Prefer not to say</option>
                </select>
            </div>

            <div class="input-group-lg mb-3">
              <label for="selectEducation" id="questionlabel">Education</label>
              <select class="custom-select input-lg" id="selectEducation" placeholder="Choose your Education Level">
                <option selected>Choose your Education Level</option>
                <option value="7">Some High School</option>
                <option value="4">High School Diploma or equivalent</option>
                <option value="1">Trade School</option>
                <option value="2">Bachelor's Degree</option>
                <option value="3">Master's Degree</option>
                <option value="5">Ph.D. or higher</option>
                <option value="6">Other/Prefer not to say</option>
              </select>
            </div>

            <div class="input-group-lg mb-3">
              <label for="maritalSelect" id="questionlabel">Marital Status</label>
              <select class="custom-select input-lg" id="maritalSelect" placeholder="Choose your Marital Status">
                <option selected>Choose your Marital Status</option>
                <option value="1">Single (Never Married)</option>
                <option value="2">Married</option>
                <option value="3">Divorced</option>
                <option value="4">Other/Prefer not to say</option>
              </select>
            </div>

            <div class="input-group-lg mb-3">
              <label for="selectChocolate" id="questionlabel">Chocolate</label>
              <select class="custom-select input-lg" id="selectChocolate" placeholder="Choose your Chocolate">
                <option selected>Choose your Chocolate</option>
                <option value="1">Dark Chocolate</option>
                <option value="2">Milk Chocolate</option>
                <option value="3">White Chocolate</option>
                <option value="4">I do not/can not eat chocolate</option>
              </select>
            </div>
                
            <div class="input-group-lg mb-3">
              <label for="selectCheeese" id="questionlabel">Cheese</label>
              <select class="custom-select input-lg" id="selectCheeese" placeholder="Choose your Cheese">
                <option selected>Choose your Cheese</option>
                <option value="1">Firm/Semi-firm (Cheddar, Gouda, Parmesan)</option>
                <option value="2">Soft (Brie, Camembert, Munster)</option>
                <option value="3">Blue-veined (Roquefort, Gorgonzola, Bleu)</option>
                <option value="4">I don't eat cheese</option>
              </select>
            </div>

            <div class="input-group-lg mb-3">
              <label for="selectAlcohol" id="questionlabel">Alcohol</label>
              <select class="custom-select input-lg" id="selectAlcohol" placeholder="Choose your Alcohol">
                <option selected>Choose your Alcohol</option>
                <option value="1">Whiskey/Scotch</option>
                <option value="2">Vodka</option>
                <option value="3">Tequila</option>
                <option value="4">Beer</option>
              </select>
            </div>

            <div class="input-group-lg mb-3">
              <label for="selectCoffee" id="questionlabel">Coffee/Tea</label>
              <select class="custom-select input-lg" id="selectCoffee" placeholder="Choose your Coffee/Tea">
                <option selected>Choose your Coffee/Tea</option>
                <option value="1">Tea/coffee with a little milk &/or cream</option>
                <option value="4">Milk &/or cream with a little tea/coffee</option>
                <option value="2">Black (with nothing added)</option>
                <option value="3">I do not drink coffee or tea</option>
              </select>
            </div>

            <div class="input-group-lg  mb-3">
              <label for="selectCandy" id="questionlabel">Candy</label>
              <select class="custom-select input-lg" id="selectCandy" placeholder="Choose your Candy">
                <option selected>Choose your Candy</option>
                <option value="1">Sour (Sour patch kids, Warheads, Lemonheads)</option>
                <option value="2">Fruity (Skittles, Starburst, Jolly Ranchers)</option>
                <option value="4">Candy Bar (Snicker, Milky way, Twix)</option>
                <option value="3">I do not eat candy</option>
              </select>
            </div>
              
            <div class="input-group-lg mb-3">
              <label for="selectScent" id="questionlabel">Scent</label>
              <select class="custom-select input-lg" id="selectScent" placeholder="Choose your Scent">
                <option selected>Choose your Scent</option>
                <option value="1">Citrus, Floral, Herbal</option>
                <option value="2">Wood, Tobacco, Musk</option>
                <option value="3">Clean Linen,  Fresh Air, Seaside</option>
                <option value="4">Cinnamon, Baked Goods, Frosting</option>
              </select>
            </div>

            <div class="input-group-lg mb-3">
              <label for="selectDressing" id="questionlabel">Salad Dressing</label>
              <select class="custom-select input-lg" id="selectDressing" placeholder="Choose your Salad Dressing">
                <option selected>Choose your Salad Dressing</option>
                <option value="1">Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar, Italian)</option>
                <option value="2">Sweet/Herbal/Tangy (Thousand Island, Green Goddess, French)</option>
                <option value="3">Cream Based (Ranch, Blue cheese, Ceaser)</option>
                <option value="4">I do not use dressing/eat salads</option>
              </select>
            </div>
          </form>
          <div div class="d-flex justify-content-lg-center">
            <button id="submit-form" type="submit" class="btn btn-dark" >Form Submit</button>
            <button id="reset-form" type="reset" value="Reset" class="btn btn-dark" >Clear Form</button>
          </div>
          <div id="result-message" role="alert"></div>
      </div>
    </section>
    <br>
    <br>
    <section class="winePrediction">
      <div class="row">
        <div class="col-md-12" style="text-align: center">
          <div class="well justify-content-center" style="text-align: center" id="winePrediction">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-center">
        <div class="col"  style="text-align: center">
          <div id = "alcoholContent" style="text-align: center">
          </div>
        </div>

        <div class="col justify-content-center" style="text-align: center">
          <div id = "wineWords" style="text-align: center" class="chart--container">
            <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref"></a>
          </div>
        </div>

        <div class="col"  style="text-align: center">
          <div id = "wineCounts" style="text-align: center"></div>
        </div>
      </div> 
    </section>

    <section class="clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="section-title st-center">
              <h3>Some Of our clients</h3>
              <p>Avocent deditum long</p>
            </div> -->
            <ul class="clients-carousel">
              <li><img src="/static/photos/winephotos/main1.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/rose1.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/red1.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/white1.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/main2.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/rose2.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/red2.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/white2.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/main3.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/rose3.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/red3.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/white3.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/main4.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/rose4.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/red4.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/white4.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/main5.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/rose5.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/red5.jpeg" class="img-responsive" alt=""></li>
              <li><img src="/static/photos/winephotos/white5.jpeg" class="img-responsive" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonials-carousel">
              <ul>
                <li>
                  <div class="testimonial">
                    <div class="testimonial-img">
                      <img src="/static/images/KC.jpg" alt="" style="width: 20%">
                    </div>
                    <blockquote>
                      <p>At the end of a long day of coding a nice glass of wine decision free is all a girl can ask for. This site combines my desire to drink with my desire to not make desicions.</p>
                      <footer>Kate Como, <cite title="Source Title">Wine Drinker Extraordinaire.</cite></footer>
                    </blockquote>
                  </div>
                </li>
                <li>
                  <div class="testimonial">
                    <div class="testimonial-img">
                      <img src="/static/photos/client2.jpg" alt="">
                    </div>
                    <blockquote>
                      <p>Wine is the perfect pairing for any activity, but choosing which wine I wanted always left me frustrated and lost. Not anymore! I know just which wine to choose with the website. What a lifesaver!</p>
                      <footer>Ashton Preble, <cite title="Source Title">Wine Jedi</cite></footer>
                    </blockquote>
                  </div>
                </li>
                <li>
                  <div class="testimonial">
                    <div class="testimonial-img">
                      <img src="/static/images/Karen.jpg" alt="" style="width: 35%">
                    </div>
                    <blockquote>
                      <p>This way I have a wine for each alias!</p>
                      <footer>Anastasia Beaverhausen <cite title="Source Title">Expert. Trust Me</cite></footer>
                    </blockquote>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            &copy; <a href="https://www.cantothemes.com">CantoThemes</a> 2015.
            <!-- Don't Remove/Edit this. If you remove this you don't have permission to use this template. -->
            Designed by <a href="https://www.cantothemes.com">CantoThemes</a>
            <!-- So Please don't remove this -->
          </div>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/JS/jquery.min.js"></script>
    <script src="/static/JS/owl.carousel.js"></script>
    <script src="/static/JS/jquery.shuffle.modernizr.js"></script>
		<script src="/static/JS/jquery.shuffle.js"></script>
    <script src="/static/JS/jquery.nicescroll.min.js"></script>
    <script src="/static/JS/jquery.stellar.js"></script>
    <script src="/static/JS/script.js"></script>
    <script type="text/javascript" src="/static/JS/app.js"></script>

  </body>
</html>