<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Ranchers&display=swap" rel="stylesheet">
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>More Wineeeee</title>
  <script type="text/javascript">
    var dataWine = `{{ WhiteWine }}`
  </script>
 
  
</head>
<body>
<div class="container-fluid" id="form-container">
  <h2>Choose your responses below to find out if Red, White, or Rose is the wine for you!</h2>
<form>
  <div class="form-group row" id="wineChooser"> 
  <div class="col-md-4" style="text-align: center">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="genderSelect">Gender</label>
      </div>
      <select class="custom-select" id="genderSelect">
        <option selected>Choose your Gender</option>
        <option value="1">Female</option>
        <option value="2">Male</option>
        <option value="3">Non-Binary</option>
        <option value="4">Other/Prefer not to say</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="ethnicitySelect">Ethnicity</label>
      </div>
      <select class="custom-select" id="ethnicitySelect">
        <option selected>Choose your Ethnicity</option>
        <option value="1">White/Caucasian</option>
        <option value="2">Latino or Hispanic</option>
        <option value="3">Black or African-American</option>
        <option value="6">Asian</option>
        <option value="5">Two or More</option>
        <option value="4">Other/Unknown</option>
      </select>
    </div>
    
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectLocation">Home Location</label>
      </div>
      <select class="custom-select" id="selectLocation">
        <option selected>Choose...</option>
        <option value="1">United States of America</option>
        <option value="3">North America/Central America (excluding USA)</option>
        <option value="2">Europe</option>
        <option value="5">Australia/New Zealand</option>
        <option value="6">Asia</option>
        <option value="4">Other/Prefer not to say</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectEducation">Education</label>
      </div>
      <select class="custom-select" id="selectEducation">
        <option selected>Choose...</option>
        <option value="7">Some High School</option>
        <option value="4">High School Diploma or equivalent</option>
        <option value="1">Trade School</option>
        <option value="2">Bachelor's Degree</option>
        <option value="3">Master's Degree</option>
        <option value="5">Ph.D. or higher</option>
        <option value="6">Other/Prefer not to say</option>
      </select>
    </div>
  </div>
    <div class="col-md-4" style="text-align: center">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="maritalSelect">Marital Status</label>
        </div>
        <select class="custom-select" id="maritalSelect">
          <option selected>Choose...</option>
          <option value="1">Single (Never Married)</option>
          <option value="2">Married</option>
          <option value="3">Divorced</option>
          <option value="4">Other/Prefer not to say</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="selectChocolate">Chocolate</label>
        </div>
        <select class="custom-select" id="selectChocolate">
          <option selected>Choose...</option>
          <option value="1">Dark Chocolate</option>
          <option value="2">Milk Chocolate</option>
          <option value="3">White Chocolate</option>
          <option value="4">I do not/can not eat chocolate</option>
        </select>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="selectCheeese">Cheese</label>
        </div>
        <select class="custom-select" id="selectCheeese">
          <option selected>Choose...</option>
          <option value="1">Firm/Semi-firm (Cheddar, Gouda, Parmesan)</option>
          <option value="2">Soft (Brie, Camembert, Munster)</option>
          <option value="3">Blue-veined (Roquefort, Gorgonzola, Bleu)</option>
          <option value="3">White Chocolate</option>
          <option value="4">I don't eat cheese</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="selectAlcohol">Alcohol</label>
        </div>
        <select class="custom-select" id="selectAlcohol">
          <option selected>Choose...</option>
          <option value="1">Whiskey/Scotch</option>
          <option value="2">Vodka</option>
          <option value="3">Tequila</option>
          <option value="4">Beer</option>
        </select>
      </div>
    </div>
      <div class="col-md-4" style="text-align: center">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectCoffee">Coffee/Tea</label>
          </div>
          <select class="custom-select" id="selectCoffee">
            <option selected>Choose...</option>
            <option value="1">Tea/coffee with a little milk &/or cream</option>
            <option value="4">Milk &/or cream with a little tea/coffee</option>
            <option value="2">Black (with nothing added)</option>
            <option value="3">I do not drink coffee or tea</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectCandy">Candy</label>
          </div>
          <select class="custom-select" id="selectCandy">
            <option selected>Choose...</option>
            <option value="1">Sour (Sour patch kids, Warheads, Lemonheads)</option>
            <option value="2">Fruity (Skittles, Starburst, Jolly Ranchers)</option>
            <option value="4">Candy Bar (Snicker, Milky way, Twix)</option>
            <option value="3">I do not eat candy</option>
          </select>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectScent">Scent</label>
          </div>
          <select class="custom-select" id="selectScent">
            <option selected>Choose...</option>
            <option value="1">Citrus, Floral, Herbal</option>
            <option value="2">Wood, Tobacco, Musk</option>
            <option value="3">Clean Linen,  Fresh Air, Seaside</option>
            <option value="4">Cinnamon, Baked Goods, Frosting</option>
          </select>
        </div>
        <div class="input-group mb-3" id="salad-dressing">
          <div class="input-group-prepend">
            <label class="input-group-text" for="selectDressing">Salad Dressing</label>
          </div>
          <select class="custom-select" id="selectDressing">
            <option selected>Choose...</option>
            <option value="1">Vinegar/Vinaigrettes (Balsamic, Oil & Vinegar, Italian)</option>
            <option value="2">Sweet/Herbal/Tangy (Thousand Island, Green Goddess, French)</option>
            <option value="3">Cream Based (Ranch, Blue cheese, Ceaser)</option>
            <option value="4">I do not use dressing/eat salads</option>
          </select>
        </div>
      </div>
    </div>
    <button id="submit-form" type="submit" class="btn btn-dark" >Form Submit</button>
  </div>
</form>
</div>



  <div class="row" id="wineEntry">
    <div class="col-md-12" style="text-align: center">
      <div class="well justify-content-center" style="text-align: center"></div>
        <form class="form-inline justify-content-center text-center" style="text-align: center">
          <div class="form-group" style="text-align: center">
            <input type="text" class="form-control" id="wineInput" placeholder="Red-White-Rose">
          </div>
          <button id="submit" type="submit" class="btn btn-default" >WINE ME</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-3"  style="text-align: center">
      <div id = "alcoholContent" style="text-align: center"></div>
    </div>
    <div class="col-md-6 justify-content-center" style="text-align: center">
      <h4><b></b></h4>
      <div id = "wineWords" style="text-align: center" class="chart--container">
        <a href="https://www.zingchart.com/" rel="noopener" class="zc-ref"></a>
      </div>
    </div>
    <div class="col-md-3"  style="text-align: center">
      <div id = "wineGif" style="text-align: center"></div>
      <img src="https://media.giphy.com/media/uYcuStWfBtHnW/giphy.gif" style="width: 90%; padding-top: 18%">
    </div>
  </div>  

  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/app.js"></script>

</body>
</html>